**/log/
**/build/
**/install/

**/__pycache__/

depthmap/*

# 生成文件
BeHav/Image_plots
BeHav/landmark_data.json
BeHav/.env

# 模型文件
BeHav/FastSAM-x.pt

# 排除BeHav/scripts文件夹下，子文件中的文件
BeHav/scripts/*
!BeHav/scripts/*.py

backup/*

# 排除tracker中的输出文件与多余的输入文件
tracker/output/*
tracker/input/*