<?xml version="1.0"?>
<robot name="carlike_robot" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 机器人底盘 -->
    <xacro:include filename="$(find carlike_robot_description)/xacro/car_base.xacro" />

    <!-- rgbd相机传感器 -->
    <xacro:include filename="$(find carlike_robot_description)/xacro/sensors/camera.xacro" />

    <!-- 单线和多线雷达选择 -->
    <!-- <xacro:include filename="$(find carlike_robot_description)/xacro/sensors/lidar.xacro" /> -->
    <xacro:include filename="$(find carlike_robot_description)/xacro/sensors/VLP-16.xacro" />
</robot>
